// Variables => Colors
//----------------------------------------------------
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$darkblue: rgb(0,26,56);
$bgblue: rgb(43,73,107);
$lazureblue: rgb(81,200,255);
$grey: rgb(152,152,152);
$lightgrey: rgb(197,197,197);
$beige: rgb(235,238,240);
$red: rgb(231,0,33);

